.countdown-container {
position: relative;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
}
.clock-item .inner {
height: 0px;
padding-bottom: 100%;
position: relative;
width: 100%;
}
.clock-canvas {
background-color: rgba(239, 239, 239, 1);
/*background-color: rgb(243, 243, 243);*/
border-radius: 50%;
height: 0px;
padding-bottom: 100%;
}


.text {
margin-top: -65px;
position: relative;
top: 0px;
text-align: center;
width: 100%;
}

.val {
	font-size: 20px;
	font-weight: bold;
}

.type-time {
font-size: 8px;
}

 @media (min-width: 768px) and (max-width: 991px) {
.clock-item {
margin-bottom: 30px;
}
}
 @media (max-width: 767px) {
.clock-item {
margin: 0px 0px 0px 0px;
}
}
